.navbar
	background-color black
	p
		color #f0ad4e !important
	a
		color #f0ad4e !important
	a:hover
		color white !important

.login-buttons
	a:hover
		color #f9deb8 !important

#login-username-label, #login-password-label, #login-password-again-label
	color #f0ad4e			