<template name="SideNav">
	<aside class="sidebar-left">
		
		<!-- <a class="company-logo" href="#">Logo</a> -->

		<div class="sidebar-links">
			<a class="link" href="/my-polls"><i class="fa fa-picture-o"></i>My Polls</a>
			<a class="link" href="/create-polls"><i class="fa fa-heart-o"></i>Create a Poll</a>
			<a class="link" href="/all-polls"><i class="fa fa-keyboard-o"></i>Answer a Poll</a>
			<a class="link" href="/polls-done"><i class="fa fa-map-marker"></i>Participated in</a>
		</div>
		<div class="login-responsive">
			<p class="side-nav-logout text-center">{{> loginButtons}}</p>
		</div>
	</aside>
</template>