<template name="SideNav">
	<aside class="sidebar-left">

		<a class="company-logo" href="#">Logo</a>

		<div class="sidebar-links">
			<a class="link link-blue" href="#"><i class="fa fa-picture-o"></i>Photography</a>
			<a class="link link-red" href="#"><i class="fa fa-heart-o"></i>Favorites</a>
			<a class="link link-yellow selected" href="#"><i class="fa fa-keyboard-o"></i>Projects</a>
			<a class="link link-green" href="#"><i class="fa fa-map-marker"></i>Places</a>
		</div>

	</aside>
</template>