<template name="SideNav">
	<aside class="sidebar-left">
		
		<!-- <a class="company-logo" href="#">Logo</a> -->

		<div class="sidebar-links">
			<a class="link" href="#"><i class="fa fa-picture-o"></i>Photography</a>
			<a class="link" href="#"><i class="fa fa-heart-o"></i>Favorites</a>
			<a class="link selected" href="#"><i class="fa fa-keyboard-o"></i>Projects</a>
			<a class="link" href="#"><i class="fa fa-map-marker"></i>Places</a>
		</div>
		<div class="login-responsive">
			<p class="side-nav-logout text-center">{{> loginButtons}}</p>
		</div>
	</aside>
</template>