/* GENERAL STYLES */

html
	position relative
  	min-height 100%

body
	/*	Removing margins and paddings from the body, so that
    the sidebar takes the full height of the page */
	margin 0
	padding 0

.primary
	width 10%
	border-width 3px
	border-color #f0ad4e

.wrapper
	margin-bottom 10px
    
