/* General Main Content */ 

.main-content 	
    max-width 600px
    padding-top 40px
    margin 0 0 40px 210px
    
/* General Section Styles */

.section-header  
    font-size 2em
    font-weight 900
    text-decoration underline